@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

$font: 'Rubik', sans-serif;

$background: #122A3C;
$darker-blue: #254053;
$dark-blue: #365063;
$border-blue: #436278;
$light-blue: #79abd0;
$blue: #3264FF;
$green: #26A744;
$yellow: #D5D924;
$red: #CC1414;